*.log
*.sock
*.zip
PushKit-Info.json
!package.json
DerivedData
build
.DS_Store
# ignore some emacs file
*~
[#]*[#]
.\#*
CHANGELOG.md
node_modules
var
etc
xcuserdata
# Xcode
.DS_Store
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
**/Pods
**/*.lock
