<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<string>https://beta.qwasi.com/rpc</string>
	<key>apiKey</key>
	<string>ec4a9d95ebe5e283822c99b36a9521b50fca7aeb392dcbc24b92cfeda9ceac60</string>
	<key>appId</key>
	<string>552f5e6e3e73ca104b46191d</string>
</dict>
</plist>
