<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<string>http://192.168.3.23:8000/v1</string>
	<key>apiKey</key>
	<string>fc5b87b909c22b2e0b525b1ae2ae1021</string>
	<key>appId</key>
	<string>5536899b4579e3e57def84e9</string>
</dict>
</plist>
