<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zeroDataProxy</key>
	<string>https://qwasi.proxy.com:8080/v1</string>
	<key>apiUrl</key>
	<string>https://sandbox.qwasi.com/rpc</string>
	<key>apiKey</key>
	<string>7e459638914ae77e9ee2b0037e1f73f1</string>
	<key>appId</key>
	<string>552f5e6e3e73ca104b46191d</string>
</dict>
</plist>
